.FIE_topbar[data-topbar] {
  height: 100%;
  background-color: var(--gray-light);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  [data-ide-controller] {
    display: flex;
    flex-flow: row;
    position: absolute;
    left: 2rem;
  }
  [data-ide-nav],
  [data-ide-nav] > li {
    height: 100%;
  }
  [data-ide-nav] {
    display: flex;
    flex-flow: 'row';
    justify-content: center;
    column-gap: 0.5rem;

    & li {
      display: flex;
      min-width: 8.5rem;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    & li a {
      line-height: 1.6rem;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      justify-content: center;
      color: var(--white);
      font-size: 1.6rem;
      height: 100%;
      width: 100%;
      [data-image-edit-logo],
      [data-design-canvas-icon] {
        width: 2.4rem;
        & path {
          fill: var(--white);
        }
      }
    }

    /* & li a:hover,
    a.active {
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--white);
        position: absolute;
        bottom: 0;
      }

    } */
    /* & li a.active {
      [data-image-edit-logo],
      [data-design-canvas-icon] {
        width: 2.4rem;
        & path {
          fill: var(--blue);
        }
      }
    } */
  }
}
