article[data-ide] {
  display: grid;
  height: 100%;
  min-width: 1024px;
  grid-template-rows: 6.4rem 1fr 15rem;
  grid-template-columns: 21.8rem auto 21.8rem;
  background-color: var(--gray);
  align-content: center;
  [data-app-header] {
    display: flex;
    grid-column: 1/-1;
    justify-content: stretch;
  }
}
.dfflPR .sc-lxwit0-0 {
  font-size: 1rem !important;
}
.FIE_topbar[data-topbar] {
  grid-column: 1/-1;
}
.FIE_editor-content {
  display: contents !important;
}
.FIE_tabs {
  grid-row: 2;
  grid-column: 3;
}
.FIE_editor-content {
  display: contents !important;
}
.FIE_canvas-container {
  & .FIE_canvas-node {
    background-color: var(--gray);
  }
  grid-row: 2;
  grid-column: 2;
}
.FIE_tabs {
  padding: 0 !important;
  justify-self: center;
  grid-column: 3;
}
[data-option-tools] {
  background-color: var(--gray-light);
  grid-row: 3;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 1rem;
  margin: 2rem;

  .FIE_tools-bar-wrapper {
    margin: 0;
    padding: 0;
  }
  .FIE_text-tool-options {
    margin: 0;
  }
}
.FIE_main-container {
  display: contents !important;
}
.FIE_tools-bar {
  & div.FIE_carousel-next-button {
    background: linear-gradient(
      270deg,
      rgba(var(--gray-light-r), 0.93) 1.56%,
      rgba(var(--gray-light-r), 0) 70%,
      rgba(255, 255, 255, 0) 100%
    ) !important;
    width: 6rem;
    justify-content: end;
  }
  & div.FIE_carousel-prev-button {
    background: linear-gradient(
      90deg,
      rgba(var(--gray-light-r), 0.93) 1.56%,
      rgba(var(--gray-light-r), 0) 70%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 6rem;
    justify-content: start;
  }
  .FIE_carousel-next-button,
  .FIE_carousel-prev-button {
    & svg:not([color]),
    & svg:not([color]) {
      color: rgb(255, 255, 255) !important;
    }
  }
}
