html,
body,
#root {
  height: 100%;
}
html {
  font-size: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

article[data-sectioning-level='1'] {
  & article:not([data-sectioning-level='1']) {
    display: contents;
  }
  & main {
    display: contents;
  }
}
