[data-option-tools] {
  justify-content: center;
  align-items: end;
  padding-bottom: 1rem;
  & .FIE_tool-options-wrapper {
    display: none;
  }
  & .FIE_tools-bar-wrapper,
  & .FIE_tools-bar,
  & .FIE_crop-tool,
  & .FIE_crop-presets-menu {
    display: contents;
  }
  & .SfxMenuItem-wrapper {
    & .SfxLabel-root {
      margin: 0;
      margin-left: -0.1rem;
    }
    & .SfxMenuItem-root {
      & > div {
        margin: 0;
      }
      border-radius: 0.3rem;
      border-color: #bdbdbd;
      color: #bdbdbd;
      padding: 0;
      width: 3.5rem;
      font-size: 1.1rem;
      margin-left: -0.1rem;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;
    }
    [data-title-key] {
      position: absolute;
      align-items: end;
      bottom: -2rem;
      color: #bdbdbd;
    }
    &:nth-child(1) > div {
      aspect-ratio: 1/1;
    }
    &:nth-child(2) > div {
      aspect-ratio: 1/1;
    }
    &:nth-child(3) > div {
      aspect-ratio: 9/16;
    }
    &:nth-child(4) > div {
      width: 6rem;
      aspect-ratio: 16/9;
    }
    &:nth-child(5) > div {
      aspect-ratio: 1/1;
    }
    /* &:nth-child(1) {
      aspect-ratio: 1/2;
    } */
  }
  &:has(.FIE_crop-presets-menu) {
    column-gap: 4rem;
  }
}

.FIE_tabs {
  display: none;
  & > div:nth-child(1) {
    position: absolute;
    margin: 0;

    top: 52.5rem;
    left: 53rem;
  }
  & > div:nth-child(2) {
    position: absolute;
    margin: 0;

    top: 52.5rem;
    left: 45rem;
  }
}

.cGhpJi[aria-selected='true'] * {
  color: #fff !important;
}
.FIE_tabs > div:nth-child(2),
.FIE_tabs > div:nth-child(1),
[data-input-original-img] {
  width: 6.7rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6879eb;
  color: #fff;
  & > svg {
    display: none;
  }
  & > label {
    color: #fff;
    margin: 0;
  }
}
